*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3a1c1c
}

header {
    width: 100%;
    height: 70px;
    background-color: rgba(204, 0, 25);
    display: flex;
    align-items: center;
}

.header_nav {
    display: flex;
    margin-right: 100px;
    width: 100%;
    justify-content: flex-end;
    gap: 30px;
}

.menu_button {
    color: white;
    text-decoration: none;
}

.logo_header {
    display: flex;
    width: 10%;
    justify-content: flex-start;
    margin-left: 100px;
}

.img_logo{
    width: 100px;
}

.depoimento{
    height: 100dvh;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("assets/explosao.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.depoimento_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

.depoimento_items > h1 {
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    font-size: 100px;
    color: white;
}

.depoimento_items > h3 {
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: white;
}

.destaque {
    width: 100%;
    height: 100%;
    display: flex;
    
}

.sobre_mim {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.sobre_mim_item {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;
    
}

.tony_stark {
    width: 100%;
}

.tony_stark > img{
    height: 500px;
    border-radius: 10px;
}

.sobre_mim_texto {
    color: white;
}

.sobre_mim_texto > h1 {
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    font-size: 40px;
}

.sobre_mim_texto > h3 {
    display: inline-block;
    position: relative;
    font-size: 20px;
}

.qualificações {
    color: white;
    padding: 40px 0;
    text-align: center;
}

.titulo {
    font-size: 40px;
    margin-bottom: 50px;
}

.conteudo-qualificacoes {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.bloco-qualificações {
    background: linear-gradient(135deg, rgba(255, 213, 0, 0.25), rgba(204, 0, 25,0.1));
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formacao {
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.formacao_box {
    background: linear-gradient(135deg, rgba(255, 213, 0, 0.25), rgba(204, 0, 25,0.1));
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formacao_box > h1{
    font-size: 25px;
    margin-bottom: 20px;
}

.projetos {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 60px;
    
}

.projetos > .titulo {
    margin-top: 30px;
}

.bloco-projetos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.bloco-projetos-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    background: linear-gradient(135deg, rgba(255, 213, 0, 0.25), rgba(204, 0, 25,0.1));
    padding: 20px;
    border-radius: 10px;
}

.bloco-projetos-item > img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    color: white;
    padding-top:20px;
    padding-bottom: 20px;
}

footer > h1 {
    font-size: 10px;
}

.contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}